<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Nõusolekuteenus (POC)</title>

<!-- JQuery -->
<script src="https://code.jquery.com/jquery.min.js"></script>

<!-- Material Design icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">

<!-- hwcrypto ja seonduv vajalik -->
<script src="js/hwcrypto-legacy.js"></script>
<script src="js/hwcrypto.js"></script>
<script src="js/hex2base.js"></script>

<link rel="stylesheet" type="text/css" href="/css/main.css" />
