<!DOCTYPE html>
<html>

  <head>
    <title>Nõusolekuteenus (POC)</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery.min.js"></script>
    
    <!-- Material Design icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="/css/main.css" />

    <title>ID-kaardi uuring</title>
  </head>

  <body onload='alusta()'>

    <h1>
      ID-kaardi uuring
    </h1>

    <div id='Toiminguvalikurida' style='display: flex; flex-wrap: wrap; justify-content: center'>
      <a id='AnnaNupp' style='display: block;' class='toimingunupp' href='/'>Avalehele</a>
    </div>

    <div class='jalus'>
      <p>
        Riigi Infosüsteemi Amet · 2018 ·
        <a href='https://github.com/e-gov/My-Consent' target='_blank'>https://github.com/e-gov/My-Consent</a>
      </p>
    </div>

  </body>

</html>