<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
    <script src='../js/index.js' defer></script>
    <title>VOLLI-Exp</title>
</head>

<body onload='alusta()'>

  <h1>
    Nõusolekuteenus VOLLI (POC).
  </h1>

  <div id='Nousolekukysimisedialoog'>
    <p>Annan nõusoleku:</p>
    <label class='rida'>
      <span class='label'>Kellele:</span>
      <br>
      <input id='Kellele' type='text' class='form-control' autocomplete='off'>
    </label>
    <label class='rida'>
      <span class='label'>Milleks:</span>
      <br>
      <input id='Milleks' type='text' class='form-control' autocomplete='off'>
    </label>
    <label class='rida'>
      <span class='label'>Mis ajani:</span>
      <br>
      <input id='MisAjani' type='text' class='form-control' autocomplete='off'>
    </label>
    <div id='Kinnitusplokk' style='display: flex; justify-content: flex-end;'>
      <span>Kinnitan nõusolekut oma allkirjaga.</span>
      <p id='AnnaNousolekNupp' class='nupp' style='margin-left: 1rem;' title='Anna nõusolek'>
        <i class='ikoon material-icons' style='color: green;'>check</i>
      </p>
    </div>
  </div>

  <div id='Teateala'>

  </div>

  <div id='Valjastusala'>

  </div>

  <div class='jalus'>
    <p>
      Riigi Infosüsteemi Amet · 2018 ·
      <a href='https://github.com/e-gov/VOLLI-Exp' target='_blank'>https://github.com/e-gov/VOLLI-Exp</a>
    </p>
  </div>

</body>

</html>